[run]
omit =
   src\__init__.py
   src/__init__.py

   src/models/__init__.py
   src\models\__init__.py

   src/models/filters/__init__.py
   src\models\filters\__init__.py

   # comentario
   src/models/data/*
   src\models\data\*

   src/models/dto/*
   src\models\dto\*

[report]
exclude_lines =
    if __name__ == .__main__.:

[html]
directory = ./tests/coverage_html_report