[run]
omit =
   src\__init__.py
   src/__init__.py

   src/models/__init__.py
   src\models\__init__.py

   src/models/filters/__init__.py
   src\models\filters\__init__.py

   # comentario
   src/models/data/*
   src\models\data\*

   src/models/dto/*
   src\models\dto\*

[report]
exclude_lines =
    elif len_phones == 2:
        return 'private'

    result = 'unknown'

    if lista_phone.phone == message.phone:

    except Exception as error:
        logger.error(error)
        raise error

[html]
directory = ./tests/coverage_html_report