[run]
omit =
   src/models/data/*
   src\__init__.py
   src\models\filters\__init__.py
   src\models\__init__.py

   # retirar
   # src/models/*

[report]
exclude_lines =
    if __name__ == .__main__.:

[html]
directory = ./tests/coverage_html_report